<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cwc.blogproject.Mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.cwc.blogproject.Entity.Comment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="comment_name" property="commentName" jdbcType="VARCHAR" />
    <result column="emali" property="emali" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="blog_id" property="blogId" jdbcType="BIGINT" />
    <result column="parentcomment_id" property="parentcommentId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cwc.blogproject.Entity.Comment" >
    insert into comment (id, comment_name, emali, 
      avatar, content, createTime, 
      blog_id, parentcomment_id)
    values (#{id,jdbcType=BIGINT}, #{commentName,jdbcType=VARCHAR}, #{emali,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}, 
      #{blogId,jdbcType=BIGINT}, #{parentcommentId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cwc.blogproject.Entity.Comment" >
    update comment
    set comment_name = #{commentName,jdbcType=VARCHAR},
      emali = #{emali,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE},
      blog_id = #{blogId,jdbcType=BIGINT},
      parentcomment_id = #{parentcommentId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, comment_name, emali, avatar, content, createTime, blog_id, parentcomment_id
    from comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, comment_name, emali, avatar, content, createTime, blog_id, parentcomment_id
    from comment
  </select>
</mapper>