<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" media="all" />

</head>
<body>
<div th:fragment="menu(n)">

    <div class="Yarn_Background" style="background-image: url( ../static/images/47fb3c_.jpg);"></div>

    <form class="js-search search-form search-form--modal" method="get" action="search.html" role="search">
        <div class="search-form__inner">
            <div>
                <div id="search-container" class="ajax_search">
                    <form method="get" id="searchform" action="">
                        <div class="filter_container"><input type="text" value="" autocomplete="off" placeholder="Type then select or enter" name="s" id="search-input" />
                            <ul id="search_filtered" class="search_filtered"></ul>
                        </div>
                        <input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value="" />
                    </form>
                </div>
            </div>
        </div>
    </form>
    <div class="navi" data-aos="fade-down">
        <div class="bt-nav">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>
        <div class="navbar animated fadeInRight">
            <div class="inner">
                <nav id="site-navigation" class="main-navigation">
                    <div id="main-menu" class="main-menu-container">
                        <div class="menu-menu-container">
                            <ul id="primary-menu" class="menu">
                                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
                                    <a th:href="@{/index}">首页</a>
                                </li>
                                <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
                                    <a th:href="@{/types}">分类</a>
                                </li>
                                <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79">
                                    <a th:href="@{/types}">标签</a>
                                </li>
                                <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80">
                                    <a th:href="@{/types}">归档</a>
                                </li>
                                <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
                                    <a href="gustbook.html">留言</a>
                                </li>
                                <li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
                                    <a href="update.html">更新</a>
                                </li>
                                <li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-254">
                                    <a th:href="@{/login}" th:if="${session.user1==null}" th:text="'登录'"></a>
                                    <a  th:text="${session.user1}?'欢迎您，'+${session.user1.getNickname()}:''" ></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-167" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-167">
                                            <a href="" th:if="${session.user1!=null}">个人中心</a>
                                        </li>
                                        <li id="menu-item-925" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-925">
                                            <a th:href="@{/logout}" th:if="${session.user1!=null}" >注销</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- #site-navigation -->
            </div>
        </div>
    </div>
    <div class="hebin" data-aos="fade-down">
        <i class=" js-toggle-search iconfont">&#xe60e;</i>
    </div>
    <header id="masthead" class="overlay animated from-bottom" itemprop="brand">
        <div class="site-branding text-center">
            <a href="">
                <figure>
                    <img class="custom-logo avatar"th:src="${session.user1}?${session.user1.getAvatar()}"    />
                    <img class="custom-logo avatar" th:if="${session.user1==null}" src="../static/images/omikron.png" style="position: relative; right: 50px"  />
                </figure>
            </a>
            <h1 class="blog-description"><p th:text="${session.user1}?${session.user1.getSignature()}"></p></h1>
        </div>
        <!-- .site-branding -->
        <div class="decor-part">
            <div id="particles-js"></div>
        </div>
        <div class="animation-header">
            <div class="decor-wrapper">
                <svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
                    <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
                    <path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
                    <path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
                    <path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
                    <path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
                    <path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
                    <path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
                </svg>
            </div>
        </div>
    </header>

</div>
<script type='text/javascript' src='../static/js/jquery.min.js'></script>
<script type='text/javascript' src='../static/js/plugins.js'></script>
<script type='text/javascript' src='../static/js/script.js'></script>
<script type='text/javascript' src='../static/js/particles.js'></script>
<script type='text/javascript' src='../static/js/aos.js'></script>
</body>
</html>