<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" media="all" />
</head>
<body>
<div th:fragment="menu(n)">
    <div class="Yarn_Background" style="background-image: url( ../static/images/47fb3c_.jpg);"></div>
    <form class="js-search search-form search-form--modal" method="get" action="search.html" role="search">
        <div class="search-form__inner">
            <div>
                <div id="search-container" class="ajax_search">
                    <form method="get" id="searchform" action="">
                        <div class="filter_container"><input type="text" value="" autocomplete="off" placeholder="Type then select or enter" name="s" id="search-input" />
                            <ul id="search_filtered" class="search_filtered"></ul>
                        </div>
                        <input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value="" />
                    </form>
                </div>
            </div>
        </div>
    </form>
    <div class="navi" data-aos="fade-down">
        <div class="bt-nav">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>
        <div class="navbar animated fadeInRight">
            <div class="inner">
                <nav id="site-navigation" class="main-navigation">
                    <div id="main-menu" class="main-menu-container">
                        <div class="menu-menu-container">
                            <ul id="primary-menu" class="menu">
                                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
                                    <a th:href="@{/index}">首页</a>
                                </li>
                                <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
                                    <a th:href="@{/types}">分类</a>
                                </li>
                                <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79">
                                    <a th:href="@{/types}">标签</a>
                                </li>
                                <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-252">
                                    <a href="archives.html">归档</a>
                                </li>
                                <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
                                    <a href="gustbook.html">留言</a>
                                </li>
                                <li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
                                    <a href="update.html">更新</a>
                                </li>
                                <li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-253">
                                    <a th:href="@{/login}" th:text="${session.user1!=null}?'':'登录'"></a>
                                </li>

                                <li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-254">
                                    <a  th:text="${session.user1}?'欢迎您，'+${session.user1.getNickname()}:''" ></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-167" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-167">
                                            <a href="" th:if="${session.user1!=null}">个人中心</a>
                                        </li>
                                        <li id="menu-item-925" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-925">
                                            <a th:href="@{/logout}">注销</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- #site-navigation -->
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='../static/js/jquery.min.js'></script>
<script type='text/javascript' src='../static/js/plugins.js'></script>
<script type='text/javascript' src='../static/js/script.js'></script>
<script type='text/javascript' src='../static/js/particles.js'></script>
<script type='text/javascript' src='../static/js/aos.js'></script>
</body>
</html>