<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>陈文池的个人博客</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href="../static/css/index.css" media="all" />
		<style type="text/css">
			.section_p{
				width:400px;/*保证文字不会被半汉字截断,显示10个文字*/
				overflow:hidden;/*超出长度的文字隐藏*/
				text-overflow:ellipsis;/*文字隐藏以后添加省略号*/
				white-space:nowrap;/*强制不换行*/
			}
		</style>
	</head>

	<body class="home blog custom-background round-avatars">

		<div th:replace="fragments :: menu(1)"></div>
		<div id="main" class="content">
			<div class="container">
				<article itemscope="itemscope">
					<div class="posts-list js-posts" th:each="blogItem,stat:${blogs}">
						<!--没图的-->
						<div class="post post-layout-list" data-aos="fade-up" th:if="${blogItem.firstpicture}==null">
							<div class="status_list_item icon_kyubo">
								<div class="status_user" style="background-image: url(../static/images/mrtx.jpeg);">
									<div class="status_section" >
										<a th:href="@{/detail}" class="status_btn"><span th:if="${blogItem.firstpicture}==null" th:text="${blogItem.title}"></span></a>
										<p class="section_p"  th:text="${blogItem.content}" th:if="${blogItem.firstpicture}==null"></p>
									</div>
								</div>
							</div>
						</div>
						<!--有图的-->
						<div class="post post-layout-list" data-aos="fade-up" th:if="${blogItem.firstpicture}">
							<div class="postnormal review ">
								<div class="post-container review-item">
									<div class="row review-item-wrapper">
										<div class="col-sm-3">
											<a rel="nofollow" href="detail.html">
												<img class="review-item-img" th:if="${blogItem.firstpicture}"  th:src="@{${blogItem.firstpicture}}" />
											</a>
										</div>
										<div class="col-sm-9 flex-xs-middle">
											<div class="review-item-title">
												<a th:href="@{/detail}" rel="bookmark" th:if="${blogItem.firstpicture}" th:text="${blogItem.title}"></a>
											</div>
											<div class="review-item-creator"><b>发布日期：</b>2017-12-30</div>
											<span class="review-item-info"><b>总浏览量：</b>1203 reads</span>
										</div>
									</div>
									<div class="review-bg-wrapper">
										<img class="bg-blur" th:if="${blogItem.firstpicture}" th:src="@{${blogItem.firstpicture}}" />
									</div>
								</div>
								<div class="post-container">
									<div class="entry-content"><p class="section_p" th:if="${blogItem.firstpicture}" th:text="${blogItem.content}"></p></div>
									<div class="post-footer">
										<a class="gaz-btn primary" th:href="@{/detail}">阅读更多</a>
										<span class="total-comments-on-post pull-right"><a href="">31 评论</a></span>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- post-formats end Infinite Scroll star -->
					<!-- post-formats -->
					<div class="pagination js-pagination">
						<div class="js-next pagination__load">
							<a href=""><i class="iconfont">&#xe605;</i></a>
						</div>
					</div>
					<!-- -pagination  -->
			</div>
		</div>

		<footer id="footer" class="overlay animated from-top">
			<div class="decor-wrapper">
				<svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
					<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
					<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
					<path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
					<path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
					<path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
					<path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
					<path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
					<path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
				</svg>
			</div>
			<div class="socialize" data-aos="zoom-in">
				<li>
					<a title="weibo" class="socialicon" href=""><i class="iconfont" aria-hidden="true">&#xe601;</i></a>
				</li>
				<li class="wechat">
					<a class="socialicon"><i class="iconfont">&#xe609;</i></a>
					<div class="wechatimg"><img src="../static/images/weixin.png"></div>
				</li>
				<li>
					<a title="QQ" class="socialicon" href="" target="_blank"><i class="iconfont" aria-hidden="true">&#xe616;</i></a>
				</li>
			</div>
			<div class="cr">
				Copyright&copy;2018. Design by
				<a href="">17sucai</a>
			</div>
			<script type='text/javascript' src='../static/js/jquery.min.js'></script>
			<script type='text/javascript' src='../static/js/plugins.js'></script>
			<script type='text/javascript' src='../static/js/script.js'></script>
			<script type='text/javascript' src='../static/js/particles.js'></script>
			<script type='text/javascript' src='../static/js/aos.js'></script>

	</body>


</html>