<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>登录</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<script src="../static/js/jquery/dist/jquery.js"></script>
	<script src="../static/js/main.js"></script>
	<link rel="stylesheet" href="../static/js/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/fonts/iconic/css/material-design-iconic-font.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/util.css">


</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/images/47fb3c_.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" method="post" th:action="@{/userregister}">
					<span class="login100-form-title p-b-49">注册</span>
					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入昵称">
						<span class="label-input100">昵称</span>
						<input class="input100" type="text" name="nickname" placeholder="请输入昵称" autocomplete="off">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入账号">
						<span class="label-input100">账号</span>
						<input class="input100" type="text" name="username" placeholder="请输入账号" autocomplete="off">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">密码</span>
						<input class="input100" type="password" name="password" placeholder="请输入密码">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="text-right p-t-8 p-b-31">
						<a th:href="@{/login}" style="color:blue;">已有账号去登录</a>
						<a href="javascript:">忘记密码？</a>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit" >注册</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>



</body>

</html>